# Binaries
subgen
SubGen
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Build artifacts
bin/
build/
dist/
out/
coverage.*
*.prof

# OS / Editors
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Config & secrets
config.yaml
.env
.env.*

.vscode/
